@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');
body{
    margin: 0;
    padding: 0;
background-image: url("../img/kletochki.gif");

}
*{
    font-family: 'Courier Prime', monospace;
}
#start{
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    background-color: rgba(255, 255, 255, 0.01);
    margin: 0;
    padding: 0 20px;
    font-size: 4em ;
    color: #fff;
    text-shadow: 0 0 20px #ff005b;

}
#dowload{
    position: absolute;
    top: 90%;
    left: 75%;
    padding: 0 20px;
    font-size: 2em ;
    border-width: medium;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.01);
    color: #fff;
    text-shadow: 0 0 20px #ff005b;
}
#start:after{
    contant: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}
#start:hover{
    color: #ff005b;
}
#dowload:hover{
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}
#loadImage{
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    width: 450px;
    height: 600px;
    padding: 20px;
    opacity: 0;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    width: 800px;
    height: 800px;
    padding: 20px;
    border:  white;
    margin: 0;
    background-color: rgba(255, 204, 242,1);
    box-shadow: 0 0 0 3px white,
             0 0 20px #ff005b;

}
canvas{
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    width: 450px;
    height: 600px;
    padding: 20px;
    border: none;
    margin: 0;
    background-color: 	rgba(153, 153, 153, 0.8 );
}
#border{
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    width: 450px;
    height: 600px;
    border-style: dashed;
    border-color: 	rgba(255, 255, 255, 0.5);

}
#border p{
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 2em ;
    color:	rgba(255, 255, 255, 0.5);
}


