<% var data = {
title: "Заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container">
    <p>Первая страница.</p>
<!--    <p><img src="uploads/test.jpg"></p>-->
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="../styles/styl.css" type="text/css">
    <link rel="stylesheet" href="../styles/menu.css" type="text/css">
</head>
<body>
<nav class="header-menu">
    <ul>
        <li><a href="#"><i class="fa fa-"></i>Galary</a></li>
        <li><a href="#"><i class="fa fa-"></i>Tasks</a></li>
        <li><a href="#"><i class="fa fa-"></i>Game</a></li>
    </ul>
 </nav>

</body>
</html>-->
